:host {
    width: 250px;
    margin-right: 50px;
}

.moves-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: max-content;
}

.move {
    padding: 0 15px;
    width: max-content;
}
