:host {
    width: 300px;
    margin-left: 50px;
}

.taken-figures {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &__group {
        display: flex;
        flex-wrap: wrap;
    }
}

.figure-img {
    width: 50px;
}
